<head>
  <div class="loginheader" align="center">
    <div class="btn btn-success"><%= link_to 'Login member', login_path, :style =>'color:#000000;'%></div>
    <div class="btn btn-success"><%= link_to 'Sign up now', new_user_path, :style =>'color:#000000;'%></div>
    <div class="btn btn-success"><%= link_to 'Login admin', login_path, :style =>'color:#000000;'%></div>
  </div>
</head>
