<p id="notice"><%= notice %></p>

<p>
  <strong>Application:</strong>
  <%= @application.application_id %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', application_path %>
